# Dependencies
node_modules
/.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
/.next
/out
/dist
/build

# Testing
/coverage

# Environment variables
.env
.env.local
.env.*.local

# Hardhat
artifacts/
cache/
typechain-types/
types/
ignition/deployments/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS / Editor files
.DS_Store
Thumbs.db
*.swp
*.swo
*~
*.pem
.vscode/
.idea/
*.iml

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
